{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->

        <!-- form end -->


        <!-- operation start -->
        <div class="am-g m-t-15">
            <a href="{{:MyUrl('admin/supplier/saveinfo')}}" class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus"> 新增</a>
            <button  class="am-btn am-btn-secondary am-radius am-btn-xs am-icon-plus" onclick="batch()"> 批量邀请注册</button>
        </div>
        <!-- operation end -->

        <!-- list start -->
        <table class="am-table am-table-striped am-table-hover am-text-middle m-t-10">
            <thead>
            <tr>
                <td><input type="checkbox" id="all" onclick="swapCheck()"></td>
                <th>ID</th>
                <th>供应商电话</th>
                <th>状态</th>
                <th class="am-hide-sm-only">创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{if !empty($data)}}
            {{foreach $data as $v}}
            <tr id="data-list-{{$v.id}}">
                <td><input type="checkbox" name="check" value="{{$v.id}}"></td>
                <td>{{$v.id}}</td>
                <td>{{$v.phone}}</td>
                <td class="am-hide-sm-only">{{if $v.status eq 0}}未注册{{else/}}已注册{{/if}}</td>
                <td class="am-hide-sm-only">{{:date('Y-m-d H:i:s', $v['addtime'])}}</td>
                <td>

                    <a href="{{:MyUrl('admin/supplier/saveinfo', array('id'=>$v['id']))}}">
                        <button class="am-btn am-btn-secondary am-btn-xs am-radius am-icon-edit" > 编辑</button>
                    </a>

                    <button class="am-btn am-btn-danger am-btn-xs am-radius am-icon-trash-o submit-delete" data-url="{{:MyUrl('admin/supplier/delete')}}" data-id="{{$v.id}}"> 删除</button>

                </td>
            </tr>
            {{/foreach}}
            {{/if}}
            </tbody>
        </table>
        {{if empty($data)}}
        <div class="table-no"><i class="am-icon-warning"></i> 没有相关数据</div>
        {{/if}}
        <!-- list end -->

        <!-- page start -->
        {{if !empty($data)}}

        {{/if}}
        <!-- page end -->
    </div>
</div>
<!-- right content end  -->

{{include file="public/footer" /}}
<script>
    var isCheckAll = false;

    function swapCheck() {
        if (isCheckAll) {
            $("input[type='checkbox']").each(function() {
                this.checked = false;
            });
            isCheckAll = false;
        } else {
            $("input[type='checkbox']").each(function() {
                this.checked = true;
            });
            isCheckAll = true;
        }
    }

    function batch(){
        var number = document.getElementsByName('check');
        var arr = [];
        for(i=0;i<number.length;i++){
            if(number[i].checked){
                arr.push(number[i].value)
            }
        }
        $.ajax({
            type:'post',
            data:{id:arr},
            dataType:'json',
            url:'{{:Myurl(\'admin/supplier/batch\')}}',
            success: function(data){
                console.log(data);
            }
        })
    }


</script>